<br>
<br>

<div class="container">
  <div class="row">
    <div *ngIf="loading">loading...</div>
    <nav ngbNav #nav="ngbNav" class="nav-tabs">


      <ng-container ngbNavItem>
        <a ngbNavLink>Reportes</a>
        <ng-template ngbNavContent>
          Reportes



        </ng-template>
      </ng-container>


      <ng-container ngbNavItem>
        <a ngbNavLink (click)="getCliets()">Clientes</a>


        <ng-template #mymodal let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Gestion de clientes</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form [formGroup]="checkoutForm">

              <div class="form-group">
                <label for="exampleInputEmail1">Nombres</label>
                <input type="text" class="form-control" id="nombre"  formControlName="nombre">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Primer apellido</label>
                <input type="text" class="form-control" id="apelido1" formControlName="apelido1">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Segundo apellido</label>
                <input type="text" class="form-control"  id="apelido2" formControlName="apelido2">
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Direccion</label>
                <input type="text" class="form-control" id="direccion"  id="direccion" formControlName="direccion">
              </div>

              <div class="form-group">
                <label for="direccion">CIF</label>
                <input type="text" class="form-control" id="direccion"  id="cifCliente" formControlName="cifCliente">
              </div>
              <br>
              <button type="button" class="btn btn-primary" (click)="guardarCliente()" [disabled]="!checkoutForm.valid" >Guardar</button>
            </form>
          </div>
          <!--div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
          </div-->
        </ng-template>

        <ng-template #modalfac let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Factura</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

              <label for="idFactura">Id factura</label>
              <input type="text" class="form-control" id="idFactura"  [(ngModel)]="numeroFactura" >
              <hr>
              <p>Articulos:</p>

                <select id="productos" (change)="selectArt($event.target.value)">
                  <option>--</option>
                  <option  *ngFor="let art of articulos;" value={{art.codigoArticulo}}>{{art.nombreArticulo}} </option>
                </select>
                <br>
                <p>Cantidad</p>
                <input type="number" class="form-control"  id="cantidad"  placeholder="cantidad" [(ngModel)]="cantidad" ><br>
                <p>Precio compra</p>
                <input type="number" class="form-control" id="precioCompra"  placeholder="precio de compra" [(ngModel)]="precioCompra" ><br>
                <p>Precio venta</p>
                <input type="number" class="form-control" id="precioVenta"  placeholder="precio de venta" [(ngModel)]="precioVenta" ><br>
                
                
                <input type="hidden"  [(ngModel)]="cifCliente"   >
                <button type="button" class="btn btn-success" (click)="adicionarProductoFactura()" >Aceptar</button>
                <hr>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Codigo</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Valor unitario</th>
                      <th scope="col">Valor total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let prod of productosComprados;">
                      <td>{{prod.codigoArticulo}}</td>
                      <td>{{prod.nombre}}</td>
                      <td>{{prod.valorUnit}}</td>
                      <td>{{prod.valorTotal}}</td>
                      
      
                  </tbody>
                </table>
                <hr>
                <h3>Total:{{total}}</h3>
                <button type="button" class="btn btn-success" (click)="guardarfactura()" >Guardar</button>
                <hr>

          </div>
        </ng-template>

        <ng-template ngbNavContent>


          <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal, true);">Adicionar cliente</button>
          <hr>

          <input type="text"id="buscar" placeholder="CIF cliente"  (change)="busquedaCliente($event.target.value)">
          <button type="button" class="btn btn-success" (click)="buscar();" >Buscar</button>
          <hr>
          <div>
            <!--span style="padding-left:20px"  > <button type="button" class="btn btn-primary"  (click)="navFormCLient()">Agregar</button> </span-->
            <span style="padding-left:20px" *ngIf="mostrarRadio"> <button type="button" class="btn btn-success" (click)="open(mymodal,false);" >Editar</button> </span>
            <span style="padding-left:20px" *ngIf="mostrarRadio"> <button type="button" class="btn btn-danger" (click)="eliminarCliente()">Eliminar</button> </span>
            <span style="padding-left:20px" *ngIf="mostrarRadio"> <button type="button" class="btn btn-warning" (click)="open(modalfac, true);" >Crear Factura</button> </span>
          </div>


          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Identificacion</th>
                <th scope="col">-</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of clientes;">
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.apelido1}}</td>
                <td>{{cliente.apelido2}}</td>
                <td><input (click)="cambiarMostrarRadio($event.target.value)" (change)="cambiarradioValue(cliente)" class="form-check-input"
                    type="radio" name="exampleRadios" id="exampleRadios2" value={{cliente.id}}> </td>
              </tr>

            </tbody>
          </table>


        </ng-template>
      </ng-container>




    </nav>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>

  </div>
</div>